@import '/src/scss/constants.scss';
@import '/src/scss/config.scss';

.navigationContainer{
    display:flex;
    justify-content:space-between;
    margin: $marginMedium;
    font-family: Oswald;
}
#burger-icon{
    width: $burgerMenuIconWidth;
}
.leftNavSide{
    display:flex;
    flex-direction: column;
    font-size:$navigationFontSize;
}
.navigation{
    
    display:none;
}

@include media('>=tablet'){
    #burger-icon{
        display:none;
    }
    .navigation{
        display:flex;
        width:30%;
        justify-content:space-around;
        
    }
    .navigationContainer{
        margin-bottom: $marginLarge;
    }
}