@import '/src/scss/constants.scss';
@import '/src/scss/config.scss';

.skillBarContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $marginMedium;
}

.skillName{
    font-family:Oswald;
    font-weight: 300;
    font-size:$skillNameFontSize;
    color:$skillPageFont;
    line-height: 23.71px;
    margin-left:$marginSmall;
}
.skillBar{
    width: 200px;
    height:12px;
    border-radius:30px;
    background: linear-gradient(to left, $skillPageFont 100%, $primaryBlue 0%);
    margin-right:$marginSmall;
}

@include media('>=tablet'){
    .skillName{
        margin-left: 2%;
        font-size:$skillNameFontSize *1.4
    }
    .skillBar{
        margin-right:10%;
    }
}

@include media('>=tablet', '<=desktop'){
    .skillBar{
        width:450px;
    }
}
@include media('>=desktop', '<=desktopLarge'){
    .skillBar{
        width:650px;
    }
}

@include media('>=desktopLarge', '<=desktopUltra'){
    .skillBar{
        width:1000px;
    }
}
@include media('>=desktopUltra'){
    .skillBar{
        width:1400px;
    }
}