//Margins
$marginSmall: 20px;
$marginMedium: 40px;
$marginLarge: 60px;
//Padding
$paddingSmall:20px;
$paddingMedium:40px;
$paddingLarge:60px;
//Font Sizes
$navigationFontSize:12px;
$personalNameFontSize:87px;
$personalNameWebFirstFontSize:52px;
$personalNameWebSecondFontSize:74px;
//Widths
$burgerMenuIconWidth: 32px;
//Colors
$primaryBackgroundColor: #F5F4FF;
$personalNameFontColor: #2E3141;
$personalNameWebFontColor:#384964;
//LineHeight
$portraitWithTextLineHeight:70px;
$portraitWithTextWebLineHeight:40px;